.navbar {
  width: fit-content;
  max-width: 100%;

  display: flex;
  align-items: center;
  gap: 18px;

  background: #111;

  padding: 10px 28px;
  margin: 0 auto;
  margin-top: 10px;

  border-radius: 50px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 8px;

  color: white;
  text-decoration: none;

  font-size: 12px;
  font-weight: 500;

  transition: 0.3s;
  padding-bottom: 5px;
}

.nav-item:hover {
    transform: translateY(-2px);
}

.nav-item svg {
  width: 18px;
  height: 18px;
}

.nav-item.active {
  color: red;
  border-bottom: 2px solid red;
}

.donate-btn {
  display: flex;
  align-items: center;
  gap: 8px;

  background: #ff0000;
  color: white;

  text-decoration: none;

  padding: 10px 22px;
  border-radius: 999px;

  font-weight: 700;

  transition: 0.3s;
}

.donate-label{
    font-size: 14px;
}

/* botão ativo */
.activeDonate {
  box-shadow:
    0 0 6px rgba(255, 255, 255, 0.7),
    0 0 12px rgba(255, 255, 255, 0.5);

  transform: scale(1.03);
}

.donate-btn:hover {
  transform: scale(1.05);
}

.donate-btn svg {
  font-size: 20px;
}

@media (max-width: 660px) {
  .navbar {
    width: calc(100% - 16px);

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 6px;

    padding: 10px 14px;

    border-radius: 999px;

    overflow-x: auto;
    overflow-y: hidden;

    scrollbar-width: none;
  }

  .navbar::-webkit-scrollbar {
    display: none;
  }

  .navItem {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 6px;

    min-width: fit-content;

    padding: 6px 4px;

    font-size: 13px;
  }

  /* ícones maiores */
  .navItem svg {
    width: 20px;
    height: 20px;

    flex-shrink: 0;
  }

  .label {
    display: none;

    white-space: nowrap;
  }

  .active .label {
    display: inline;
  }

  .donateBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 5px;

    padding: 8px 12px;

    font-size: 12px;

    border-radius: 999px;

    white-space: nowrap;

    flex-shrink: 0;
  }

  .donateBtn svg {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 350px) {
  .navbar {
    padding: 8px 10px;
    gap: 4px;
  }

  .navItem svg {
    width: 18px;
    height: 18px;
  }

  .active .label {
    display: none;
  }

  .donate-label {
    display: none;
  }

  .donateBtn {
    padding: 8px 4px;
  }
}